.touch {
    margin-bottom: 48px;
    &__wrapper {
        display: flex;
        justify-content: space-between;

        &::before{
            content: "";
            background: $main-text-bg;
            mix-blend-mode: normal;
            opacity: 0.15;
            width: 1100px;
            display: block;
            height: 1px;
            margin-bottom: 48px;
            position: absolute;
        }

        &__heading {
            font-family: 'Ibarra Real Nova';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357143px;
            color: #33323D;
            width: 350px;
            margin-top: 48px;
        }

        &__contents {
            width: 635px;
            margin-top: 48px;

            &__text {
                font-family: 'Public Sans';
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: $main-text-bg;
                mix-blend-mode: normal;
                opacity: 0.8;
                margin-bottom: 24px;
            }

            &__media{
                display: flex;
                list-style-type: none;
                width: 104px;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and(max-width: 992px){
    .touch {
        margin-bottom: 48px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
    
            &::before{
                content: "";
                background: $main-text-bg;
                mix-blend-mode: normal;
                opacity: 0.15;
                width: 1100px;
                display: block;
                height: 1px;
                margin-bottom: 48px;
                position: absolute;
            }
    
            &__heading {
                font-family: 'Ibarra Real Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 42px;
                letter-spacing: -0.357143px;
                color: #33323D;
                width: 350px;
                margin-top: 48px;
            }
    
            &__contents {
                width: 635px;
                margin-top: 48px;
    
                &__text {
                    font-family: 'Public Sans';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: $main-text-bg;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                    margin-bottom: 24px;
                }
    
                &__media{
                    display: flex;
                    list-style-type: none;
                    width: 104px;
                    justify-content: space-between;
                }
            }
        }
    }
    
}

@media only screen and(max-width: 450px){
    .touch {
        margin-bottom: 48px;
        &__wrapper {
            display: flex;
            justify-content: space-between;
    
            &::before{
                content: "";
                background: $main-text-bg;
                mix-blend-mode: normal;
                opacity: 0.15;
                width: 1100px;
                display: block;
                height: 1px;
                margin-bottom: 48px;
                position: absolute;
            }
    
            &__heading {
                font-family: 'Ibarra Real Nova';
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 42px;
                letter-spacing: -0.357143px;
                color: #33323D;
                width: 350px;
                margin-top: 48px;
            }
    
            &__contents {
                width: 635px;
                margin-top: 48px;
    
                &__text {
                    font-family: 'Public Sans';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: $main-text-bg;
                    mix-blend-mode: normal;
                    opacity: 0.8;
                    margin-bottom: 24px;
                }
    
                &__media{
                    display: flex;
                    list-style-type: none;
                    width: 104px;
                    justify-content: space-between;
                }
            }
        }
    }
    
    @media only screen and(max-width: 992px){
        .touch {
            margin-bottom: 48px;
            &__wrapper {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
        
                &::before{
                    content: "";
                    background: $main-text-bg;
                    mix-blend-mode: normal;
                    opacity: 0.15;
                    width: 1100px;
                    display: block;
                    height: 1px;
                    margin-bottom: 48px;
                    position: absolute;
                }
        
                &__heading {
                    font-family: 'Ibarra Real Nova';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 42px;
                    letter-spacing: -0.357143px;
                    color: #33323D;
                    width: 350px;
                    margin-top: 48px;
                }
        
                &__contents {
                    width: 311px;
                    margin-top: 48px;
        
                    &__text {
                        font-family: 'Public Sans';
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 30px;
                        color: $main-text-bg;
                        mix-blend-mode: normal;
                        opacity: 0.8;
                        margin-bottom: 24px;
                    }
        
                    &__media{
                        display: flex;
                        list-style-type: none;
                        width: 104px;
                        justify-content: space-between;
                    }
                }
            }
        }
        
    }
}